<!DOCTYPE html>
<html>
    <title>Ruby Blackjack</title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/application.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/application.js"></script>
  
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><h3>Sinatra Blackjack</h3></li>
              <li class="new-game"><h3><a href="/new_player">New Game</a></h3></li>
            </ul>
        </div>
      </div>
    </div>
  
  <br />

  <div class="container content">
    <!-- <%if @error %>
      <div class="alert alert-danger" role="alert"><%= @error %></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success" role="alert"><%= @success %></div>
    <% end %>
    <%if @info %>
      <div class="alert alert-info" role="alert"><%= @info %></div>
    <% end %> -->
      <%= yield %>
  </div>
  </body>
</html>
