<div class="">
  <h5>Please enter your name</h5>
</div>

<form class="form-horizontal" role="form" action="/set_name" method="post">
  <div class="form-group">
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputName" placeholder="Name" name="player_name">
    </div>
    <input type="submit" class="btn btn-primary" >
  </div>
</form>